/*HTML5元素兼容*/
header, footer, article {
	display: block;
}
/*end*/
a {
	text-decoration: none;
	color: blue;
}
h1, h2 {
	padding: 0;
	margin: 0;
}
body {
	background-image: url(../images/retro-pattern-2-1163655.jpg);
}
.container {
	color: #333;
	border-radius: 5px;
	min-width: 772px;
	max-width: 800px;
	margin: 0 auto;
}
.nav{
	background-color: white;
    box-shadow: 0 0 2px 0px #2196F3;
	padding: 20px;
}
.nav h1, .nav a,.nav div {
	font-size: 1.2em;
	display: inline-block;
	color: gray;
}
.nav h1 {
}
.nav div {
	float: right;
}
.nav div a {
}
.nav a {
	text-decoration: none;
}
a:hover {
	color: black;
}
.sticky, .common {	
	background-color: white;
	padding: 1.6em;
	margin: .5em 0;
}
.sticky time, .common time {
	color: gray;
	display: block;
	padding-bottom: 1em;
}
.page_button {
	padding: 10px 0 0 0;
	text-align: center;
	color: gray;
}
.page_button span {
	font-size: 80%;
}
.page_button input {
	font-size: .8em;
	border: blue;
	color: gray;
	background-color: rgba(222,222,222,0.3);
	padding: 9px 19px;
}
.page_button input[name="Next"] {
	background-color: rgba(222,222,222,0.3);
	color: black;
}
.footer {
	background-color: white;
	text-align: center;
	color: gray;
}